# Núcleo científico e Spark
pyspark==3.5.7
findspark
pandas
numpy

# para compatibilidade con delta
delta-spark==3.2.0

# JupyterLab e widgets
jupyterlab
ipywidgets

# Visualización
matplotlib
seaborn
plotly

# Extra (opcional)
notebook
